@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #020202;
  color: white
}

html {
  scroll-behavior: smooth;
}

.switch-circle-en::after {
  background-image: url('../../public/img/EN.png');
  background-size: cover;
  background-position: center;
}

.switch-circle-es::after {
  background-image: url('../../public/img/ES.png');
  background-size: cover;
  background-position: center;
}

